fieldset{
    border: 3px inset black;
    box-shadow: 3px 3px #777575;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fdc303!important;
}
/* label focus color */
.input-field input[type=text] {
  border-bottom: 1px solid #f9a825 !important;
  box-shadow: 0 1px 0 0 #f9a825 !important;
}
/* label focus color */
.input-field input[type=password] {
  border-bottom: 1px solid #f9a825 !important;
  box-shadow: 0 1px 0 0 #f9a825 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fdc303 !important;
  box-shadow: 0 1px 0 0 #fdc303 !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #fdc303 !important;
  box-shadow: 0 1px 0 0 #fdc303 !important;
}

.material-icons.active {
  color: #fdc303 !important;
  }