*{padding: 0;margin: 0;}
.input-field input[type=text]{
    color:#f9a825;
}
.input-field input[type=file]{
    color:#f9a825;
}
.input-field input[type=text]  {
    border-bottom: 1px solid #f9a825 !important;
    box-shadow: 0 1px 0 0 #f9a825 !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus  {
    border-bottom: 1px solid #fdc303 !important;
    box-shadow: 0 1px 0 0 #fdc303 !important;
  }
.input-field label{
    color: #fdc303 !important;
}
/* label underline focus color */
.material-icons.active {
    color: #fdc303 !important;
}
.numeros div{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    width: 20px;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin-left:46.6%;
    margin-bottom: 10px;
    position:relative;
}
.numeros div#primeira{
    margin: 0%;
}
.progress{
    position:absolute;
    top:1.5%;
    z-index: -1;
}
.numeros div.ativo{
    background: #fdc303;
    color: rgb(255, 255, 255);
}
.form1{
    display:block;
}
.form2{
    display:none;
}
.form3{
    display:none;
}
.nomes span{
    margin-left: 17%;
    position: relative;
    top:-10px;
    text-transform: uppercase;
    
}
.nomes span:first-of-type{
    margin-left: 9.5%;
}
.nomes span:last-of-type{
    margin-left: 17%;
}